{% extends "base.html" %}

{% block title %}
Opprett admin — Sommerfest 2026
{% endblock %}

{% block content %}

<section class="form-card">

    <h2>
        Opprett adminbruker
    </h2>

    <p>
        Du oppretter adminbruker for:
        <strong>{{ invite.email }}</strong>
    </p>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.password.label }}
            {{ form.password() }}
        </div>

        <div class="form-group">
            {{ form.confirm_password.label }}
            {{ form.confirm_password() }}
        </div>

        {{ form.submit(class="pink-btn") }}
    </form>

</section>

{% endblock %}
