{% extends "base.html" %}

{% block title %}
Kontakt — Sommerfest 2026
{% endblock %}

{% block content %}

<section class="card">

    <h2>
        Kontakt
    </h2>

    <p>
        Har du spørsmål om Sommerfest 2026?
    </p>

    <p>
        Send e-post til Lars eller Reidun:
        <br><br>

        Reidun:
        <a href="mailto:kasantix@gmail.com">
            kasantix@gmail.com
        </a>

        <br><br>

        Lars:
        <a href="mailto:lksandvik@pm.me">
            lksandvik@pm.me
        </a>
    </p>

    <p>
        Send eventuelt SMS til:
        <br><br>

        Reidun:
        <a href="tel:41646966">
            41646966
        </a>

        <br><br>

        Lars:
        <a href="tel:93224759">
            93224759
        </a>
    </p>

</section>

{% endblock %}
