{% extends "base.html" %}

{% block title %}
FAQ — Sommerfest 2026
{% endblock %}

{% block content %}

<section class="card">

    <h2>
        Ofte stilte spørsmål
    </h2>

    <div class="faq-item">

        <h3>
            Når starter grillingen?
        </h3>

        <p>
            Grillingen starter 04.07.2026 klokken 15:00
            og varer til klokken 19:00.
        </p>

    </div>

    <div class="faq-item">

        <h3>
            Når starter kveldskosen?
        </h3>

        <p>
            Kveldskosen starter klokken 20:00
            og varer til cirka midnatt.
        </p>

    </div>

    <div class="faq-item">

        <h3>
            Hvor er arrangementet?
        </h3>

        <p>
            Østre Hopsvegen 3a,
            5232 Paradis.
        </p>

    </div>

    <div class="faq-item">

        <h3>
            Kan jeg redigere påmeldingen min?
        </h3>

        <p>
            Ja. Logg inn på kontoen din
            og velg “Rediger påmelding”.
        </p>

    </div>

    <div class="faq-item">

        <h3>
            Kan jeg melde meg av?
        </h3>

        <p>
            Ja. Du kan melde deg av
            fra siden “Min påmelding”.
        </p>

    </div>

    <div class="faq-item">

        <h3>
            Må jeg registrere barn?
        </h3>

        <p>
            Ja, antall barn under 10 år
            registreres i skjemaet.
        </p>

    </div>

</section>

{% endblock %}
